
<div class="container productDetails row">


    <div class="priceListView col-md-3 d-none d-md-block">
        <h5><a class="col align-self-center btn-shiny" href="/products"><i class="fas fa-chevron-left"></i> Каталог</a></h5>
        <h6>{{productView.category}}</h6>
        <ul class="list-group">
            <li ng-repeat="product in priceList | filter: productView.category" class="list-group-item list-group-item-action list-group-item-light"><a href="/products/masks/id/{{product.id}}">{{product.name}}</a></li>
        </ul>

    </div>

    <div class="productView col-md-9 row">

        <div class="col-md-6 align-self-center">
            <img src="{{ productView.img }}" alt="{{ productView.name }}">
        </div>
        <div class="col-md-6">
            <h2 class="display-4 text-center"> {{ productView.name }} </h2>
            <div class="advantage">
                <ul>
                    <li ng-repeat="advantage in productView.advantage">{{ advantage }}</li>
                </ul>
            </div>

            <!--        <p>{{productView.price| currency}}</p>-->
            <div ng-controller="cartController" class="row justify-content-around">
                <div>
                    <button class="col align-self-center btn-shiny" type="button" ng-click="addToCart(productView.id)">Добавить в избранное</button>
                     <div id="productShare" class="ya-share2 justify-content-around col m-2 text-center" data-services="vkontakte,facebook,odnoklassniki,twitter,viber" data-counter=""></div>
                </div>

                <!--            <input ng-model="productNum" type="number" min="0" max="99" placeholder="0" pattern="^[1-9]\d*$" required>-->

                
            </div>
        </div>


        <div class="description">
            <p>{{ productView.description }}</p>
            <!--        <p>{{productView.price| currency}}</p>-->
        </div>








    </div>

</div>
