.productDetails {
        margin-top: 100px;
}
.productView img {
    width: 100%;
}

.productDetails .advantage ul>li {
    list-style-type: disc;
}

.productDetails .advantage {
/*
    padding: 10%;
    width: 100%;
    text-align: center;
*/
    padding: 20px;
    margin: auto;
    text-align: left;
    width: fit-content;
}

.productDetails .description {
    
}






