<div class="container productDetails row">


    <div class="priceListView col-md-3 d-none d-md-block animated fadeInDown">
        <h5><a class="col align-self-center btn-shiny" href="/products"><i class="fas fa-chevron-left"></i> Каталог</a></h5>
        <h6>{{productView.category}}</h6>
        <ul class="list-group">
            <li ng-repeat="product in priceList | filter: productView.category" class="list-group-item list-group-item-action list-group-item-light"><a href="/products/masks/id/{{product.id}}">{{product.name}}</a></li>
        </ul>

    </div>

    <div class="productView col-md-9 row">

        <div class="col-md-6 align-self-center animated flipInX">
            <img src="{{ productView.img }}" alt="{{ productView.name }}">
        </div>
        <div class="col-md-6">
            <h2 class="display-4 text-center animated bounceInDown"> {{ productView.name }} </h2>
            <div class="advantage">
                <ul>
                    <li ng-repeat="advantage in productView.advantage" ng-class-odd="'animated zoomInUp'" ng-class-even="'animated zoomInDown'">{{ advantage }}</li>
                </ul>
            </div>

            <!--        <p>{{productView.price| currency}}</p>-->
            <div ng-controller="cartController" class="row justify-content-around">
                <div>
                    <button class="align-self-center btn-shiny animated zoomIn" type="button" ng-click="addToCart(productView.id)">Добавить в избранное</button>
                </div>
                <!--            <input ng-model="productNum" type="number" min="0" max="99" placeholder="0" pattern="^[1-9]\d*$" required>-->

           
           
           
           
           
           
           
           
            </div>
        </div>


        <div class="description">
            <p class="animated bounceInLeft">{{ productView.description }}</p>
            <!--        <p>{{productView.price| currency}}</p>-->
        </div>



<a href="#"
socialshare
socialshare-provider="facebook"
socialshare-url="{{productUrl}}"

>
facebook
</a>


<a href="#"
socialshare
socialshare-provider="twitter"
socialshare-text="{{productView.name}}"
socialshare-hashtags="asianbeauty, тканеваямаска, тканеваямаскаминск"
socialshare-url="{{productUrl}}">
twitter
</a>

<a href="#"
socialshare
socialshare-provider="vk"
socialshare-text="{{productView.name}}"
socialshare-description="{{ productView.description }}"
socialshare-media="{{ productView.img }}"
socialshare-url="{{productUrl}}">
VK
</a>

<a href="#"
socialshare
socialshare-provider="ok"
socialshare-text="{{productView.name}}"
socialshare-url="{{productUrl}}">
OK
</a>






    </div>

</div>
