<img class="img-fluid rounded mx-auto d-block" src="/app/data/img/cart.jpg" alt="Asian Beauty">
   <div class="container table-responsive-sm">
    <h3 class="display-4 text-center m-3" >Избранное</h3>
    <table class="table table-hover">
<!--
        <thead class="thead">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Изображение</th>
                <th scope="col">Наименование</th>
                <th scope="col">Описание</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
                <th scope="col">Удалить</th>
            </tr>
        </thead>
-->
        <tfoot>
            <tr class="table">
                <th colspan="5">
                    <button ng-click="order()" class="btn btn-outline-success order-link" href="#order" ng-show="cartList[0]">Консультация</button>
                    <button class="btn btn-outline-secondary" ng-click="clearCart()" ng-show="cartList[0]">Очистить Избранное</button>
                   
                </th>
<!--
                <th>
                    <span ng-hide="cartList[0]"></span>
                    <span ng-show="cartList[0]">Итого:</span>
                </th>
                <th>
                    <span ng-hide="cartList[0]"></span>
                    <span ng-show="cartList[0]">{{ cartPrice | currency }}</span>
                </th>
-->
            </tr>
        </tfoot>
        <tbody>
            <tr ng-repeat="product in cartList">
                <td scope="row">{{ $index + 1 }}</td>
               
                <td><a href="/products/masks/id/{{product.id}}"><img src="{{product.img}}" alt="{{product.name}}"></a></td>
                <td><a href="/products/masks/id/{{product.id}}">{{ product.name }}</a></td>
                <td><a href="/products/masks/id/{{product.id}}">Подробней...</a></td>
<!--
                <td>
                    <input ng-model="productNum" type="number" min="1" max="99" ng-change="changeCart(product.id, productNum)" value="{{ product.number }}" pattern="^[1-9]\d*$">
                    <span>x {{product.price | currency }}</span>
                </td>
                <td>{{ product.number * product.price | currency }}</td>
-->
                <td>
                    <button ng-click="remove(product.id)" class="btn btn-outline-secondary">Удалить</button>
                </td>
            </tr>

        </tbody>
    </table>
    
     <div class="empty" ng-hide="cartList[0]">
     
<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">В избранном еще ничего нет</h4>
  <p>Со всей продукцие Вы можите ознакомится в каталоге</p>
  <hr>
  <p class="mb-0"><a href="/products">Перейти в Каталог</a></p>
</div>
     
     </div>

    <div class="modals">

        <div id="order">
<!--
           <h2>Консультация</h2>
            <div class="row">   
                <div class="col-md-6">
                    <h5>Список товаров в заказе: </h5>
                    <textarea data-wi-fb-caption="Заявка" ng-model="orderList" rows="{{rowCount}}" readonly></textarea>
                </div>
                <div class="col-md-6">
                    <h5>Заполните контактные данные для консультации:</h5>
                    <input type="text" name="name" maxlength="50" data-wi-fb-caption="Имя" placeholder="Ваше Имя..." required/>
                    <input type="tel" name="phone" maxlength="50" data-wi-fb-caption="Телефон" placeholder="Ваш Телефон..." required/>
                    <input type="text" name="address" data-wi-fb-caption="Адрес" placeholder="Адрес Доставки..." required/>
                    <textarea name="message" maxlength="500" data-wi-fb-caption="Коментарий" placeholder="Коментарий..."></textarea>
                </div>
            </div>
-->
             <h2>Консультация</h2>
             <h5>Заполните контактные данные для консультации:</h5>
                    <input type="text" name="name" maxlength="50" data-wi-fb-caption="Имя" placeholder="Ваше Имя..." required/>
                    <input type="tel" name="phone" maxlength="50" data-wi-fb-caption="Телефон" placeholder="Ваш Телефон..." required/>
                    <textarea name="message" maxlength="500" data-wi-fb-caption="Коментарий" placeholder="Коментарий..."></textarea>
            <button ng-click="clearCart()">Консультация</button>
        </div>


    </div>




</div>
