 <img class="img-fluid rounded mx-auto d-block" src="/app/data/img/shop2.jpg" alt="Asian Beauty">
  <section class="container">
   
   
    <h2 class="display-3 text-center">Маски для лица</h2>

    <form class="form-row mr-4 ml-4">

        <div class="btn-group  col-md-4  mb-2" role="group">
            <button ng-click="listView()" type="button" class="listView btn btn-outline-dark"><i class="fa fa-bars"></i> Список</button>
            <button ng-click="gridView()" type="button" class="gridView btn btn-outline-dark active"><i class="fa fa-th-large"></i> Плитка</button>
        </div>

        <div class="input-group col-md-4 mb-2">
            <select ng-model="priceSearch.category" ng-change="subCategorysList(priceSearch.category)" class="form-control">
            <option value=""> - Все Категории - </option>
            <option ng-repeat="categoryName in categorySort">{{categoryName}}</option>
            </select>
        </div>
        <div class="col-md-4 mb-2">
            <input ng-model="priceSearch.$" type="text" class="form-control" placeholder="Поиск...">
        </div>

    </form>
    <!--    ================================================================-->


<din class="row mr-4 ml-4">
     <div class="col-md-4 offset-md-4" ng-repeat="sub in subCategorySort">
        <input type="checkbox" ng-model="SubFilter[sub]" checklist-value="sub"> {{sub}}
    </div>
</din>
   


    <!--=====================================================================-->

    <div class="priceList row justify-content-around mt-2">


        <div class="product" ng-repeat="product in (priceList | filter: filterSubByCategory) | filter: priceSearch" ng-init="viewType()">
            <!--           <a href=""><div class="btnFav"></div></a>-->
            <div class="row productCard" ng-class="{animated:hover, pulse: hover, shadow: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                <div class="productImg">
                    <a href="/products/masks/id/{{product.id}}">
                <img class="w-100" src="{{product.img}}" alt="{{product.name}}">
                </a>
                </div>
                <div class="productText">
                    <h4>{{product.name}}</h4>
                    <p ng-show="productAdvantage">{{product.description}}</p>


                    <!--                        <a class="btn btn-outline-primary" href="/products/masks/id/{{product.id}}">Подробней...</a>-->
               
<!--                    <button ng-show="productAdvantage" class="col align-self-center btn-shiny" type="button" ng-controller="cartController" ng-click="addToCart(product.id)">В Избранное</button>-->
                     <a ng-show="productAdvantage" class="col align-self-center btn-shiny" href="/products/masks/id/{{product.id}}">Подробнее...</a>
                    
                 


                </div>
            </div>
        </div>







        <div ng-hide="priceList" class="alert alert-info">

            <div class="loader">Загрузка...</div>

        </div>
        <!--        <div ng-hide="priceList" class="alert alert-danger">При загрузке данных произошла ошибка {{requestStatus}} {{requestStatusText}}</div>-->
    </div>
</section>
